.Home{
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(../Img/background2.jpg);
    background-position: center;
    background-size: cover;
}

.Cadastro{
    background-image: url(../Img/background-login.jpg);
    background-position: center;
    background-size: cover;
}

/*Responsividade*/
@media screen and (max-width: 768px) {
    .Card{
        width: 90%;
    }
    .Busca{
        width: 45%;
    }
    h1{
        font-size: 1.4rem;
    }
    .Barra{
        width: 75%;
    }
    .Barra button{
        width: 100%;
    }
    .Home{
        flex-direction: column;
    }
    .Home img{
        width: 75%;
        height: 57vh;
    }
    .CardFilme{
        width: 100%;
    }
}